USE [master]
GO
/****** Object:  Database [atbmtt]    Script Date: 10/06/2023 4:44:32 PM ******/
CREATE DATABASE [atbmtt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'atbmtt_db', FILENAME = N'C:\SQL\atbmtt_db.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'atbmtt_log', FILENAME = N'C:\SQL\atbmtt_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [atbmtt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [atbmtt]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 10/06/2023 4:44:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenTaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [MatKhau], [Email]) VALUES (N'admin123', N'admin123', N'atbmtt123@gmail.com')
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [MatKhau], [Email]) VALUES (N'thuhoai2003', N'thuhoai2003', N'thuthuhoai3011@gmail.com')
GO
USE [master]
GO
